
//主题色
$main_style_color:#6ea8f7;
$color_333333:#333333;
$color_EEEEEE:#EEEEEE;
$color_F2F0E1:#F2F0E1;
$color_3366cc:#3366cc;
$color_333333:#333333;
$color_009900:#009900;
$color_FF0000:#FF0000;
$color_f8f8f8:#f8f8f8;//页面背景色
